# Directories #
###############
Data/
job_logs/

# FastQ files #
###############
**/*fastq*
**/*fq*
**/*fa


# R files #
###########
**/*Rds
**/*Rhistory

# Output files #
################
**/*pdf
**/*csv
**/*tsv
**/*png
**/*txt
**/*html
**/*log
**/*json

# Job logs #
############
**/*joblog*
