# Directories #
###############
Data/
job_logs/

# Fasta/data files #
###############
**/*fastq*
**/*fq*
**/*fa
**/*fna
**/*gbff
**/*gff
**/*gtf
**/*faa
**/*jsonl
**/*zip

# R files #
###########
**/*Rds
**/*Rhistory

# Output files #
################
**/*pdf
**/*csv
**/*tsv
**/*png
**/*txt
**/*html
**/*log
**/*json
**/*ht2
**/*.bam
**/*.sam

# Job logs #
############
**/*joblog*
**/*.hisat2.log
