# Directories #
###############
Data/
job_logs/
hisat2-build_indeces/
hisat2_sambam_out/
helper/
test_output_results/
work/
.nextflow/
/multiqc
**/*nextflow.log*
nfcore_output/
test_outputs/
nf-core-rnaseq_3.21.0/

# Fasta/data files #
###############
**/*fastq*
**/*fq*
**/*fa
**/*fna
**/*gbff
**/*gff
**/*gtf
**/*faa
**/*jsonl
**/*zip

# R files #
###########
**/*Rds
**/*Rhistory

# Output files #
################
**/*pdf
**/*csv
**/*tsv
**/*png
**/*txt
**/*html
**/*log
**/*json
**/*ht2
**/*.bam
**/*.sam
**/*.summary

# Job logs #
############
**/*joblog*
**/*.hisat2.log
